#h1Titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

header{
    height: 40px;
    background-color: #00ADB5;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.Presentacion{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #222831;
    height: 500px;
}

.caja-presentacion{
    background-color: #EEEEEE;
    margin-top: 10%;
    width: 50%;
    flex-direction: row;
    border-radius: 20px;
    height: 30%;
    overflow: hidden;
}

.txtPresentacion{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    padding: 20px;
}

.Aptitudes{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
}

.caja-aptitudes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #393E46;
    width: 50%;
    height:max-content;
    border-radius: 20px;
    overflow: hidden;
}

.caja-imagen{
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items:center;
    width: 30%;
    padding-right: 10px;
    padding-top: 20px;
    background-color: #222831;
    height: max-content;
}

.caja-aptitudes-texto{
    display: flex;
    flex-direction: column;
    align-items: left;
    width:fit-content;
    flex-grow: 1;
    padding: 5px;
    padding-left: 0%;
    background-color:#222831;
    height: max-content;
    color: #EEEEEE;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.txtAptitudes{
    width: max-content;
}

.caja-descripcion{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #00ADB5;
    width: 49%;
    height:max-content;
    width: max-content;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

.txtDescripcion{
    width: max-content;
}

#FotoCara{
    width: 80%;
    border-radius: 100px;
    height: 243px;
}

.icons{
    height: 40px;
}



.contacto{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #393E46;
}

label{
    padding-left: 20px;
    
}

.caja-contacto{
    
    display:block;
    float: center;
    block-size: 30px;
    padding: 5px;
    padding-left: 20px;
    

    width: 45%;
    height: fit-content;
    border-radius: 20px;


    margin-top: 20px;
    margin-bottom: 20px;

    background-color:#00ADB5;
    color: #EEEEEE;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


input{
    background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #222831; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}

textarea{
    background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #222831; 
  margin-top: 10px;  
  padding-left: 20px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #00ADB5;
}


